
block content
    div.col-lg-2
    h1
        |User Pane 
    ul 
    li 
        a(href="/users/add")
          |Add
      li 
        a(href="/users/delete")
          |Delete
      li 
        a(href="/users/update")
          |Update USer
      li 
        a(href="/users/profile")
          |fndsjf