extends layout 
block content 
  form(action="/users/addData" method="post")
    input(type="text" placeholder="Enter your name" name="inputname")
    //input(type="Password" placeholder="Enter your password" name="pass")
    //input(type="Email" placeholder="Enter Email" name="email")
    input(type="submit")
